<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.spring.project.dao.InvitationDAO">
	<insert id="insert">
		insert into invitation values (#{sender}, #{receiver}, #{mid})
	</insert>
	<delete id="delete">
		delete from invitation
		where sender = #{sender} and receiver = #{receiver} and  mid = #{mid}
	</delete>
	<select id="getInvitationList" resultType="com.spring.project.dto.InvitationDTO">
		<![CDATA[
			select i.* 
			from invitation as i
			where not exists 	(select a.* 
								from invitation a, invitation b 
								where a.sender = b.receiver and b.sender = a.receiver 
								and i.sender = a.sender and i.receiver = a.receiver) 
								and i.receiver = #{userid}
		]]>
	</select>
	<select id="getUserListByMid" resultType="String">
		select i1.sender
		from invitation i1 inner join invitation i2
		on i1.sender = i2.receiver and i1.receiver = i2.sender 
		where i1.mid = i2.mid and i1.mid = #{mid}
	</select>
</mapper>