<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.spring.project.dao.InvitationDAO">
	<insert id="insert">
		insert into invitation values (#{sender}, #{receiver}, #{mid})
	</insert>
	<delete id="delete">
		delete from invitation
		where sender = #{sender} and receiver = #{receiver} and  mid = #{mid}
	</delete>
	<select id="getInvitationList" resultType="com.spring.project.dto.InvitationDTO">
		<![CDATA[
			select * from invitation i 
			where not exists 
			(select * 
			from invitation a, invitation b
			where a.sender = b.receiver and a.receiver = b.sender and a.mid = b.mid
			and a.sender = i.sender and a.receiver = i.receiver and a.mid = i.mid) and i.receiver = #{userid}
		]]>
	</select>
	<select id="getUserListByMid" resultType="String">
		select i1.sender
		from invitation i1 inner join invitation i2
		on i1.sender = i2.receiver and i1.receiver = i2.sender 
		where i1.mid = i2.mid and i1.mid = #{mid}
	</select>
</mapper>