<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.project.dao.ScheduleDAO">
<!-- <![CDATA[ ]]> -->
	<select id="selectByUser" resultType="com.spring.project.dto.ScheduleDTO">
		select * from schedule where userid = #{userid} and mid = #{mid}
	</select>
	<insert id="insert">
		<![CDATA[
			insert into schedule (mid, start_time, end_time, userid)
			values (#{mid}, #{start_time}, #{end_time}, #{userid})
		 ]]>
	</insert>
	<delete id="delete">
		delete from schedule where sid = #{sid}
	</delete>
	<update id="update">
		update schedule
		set mid = #{mid},
		start_time = #{start_time},
		end_time = #{end_time}
		where sid = #{sid}
	</update>
	<select id="selectByManyUser" resultType="com.spring.project.dto.ScheduleDTO">
		select * from schedule
		where userid in
		<foreach collection="list" index="index" item="userid" open="(" separator="," close=")" >
        		#{userid}
		</foreach> and mid = #{mid}
	</select>
	<select id="selectAll" resultType="com.spring.project.dto.ScheduleDTO">
		select * from schedule
		where mid = #{mid}
	</select>
</mapper>